<nav>
  <div style="margin-top: 20px">
    <button type="button" id="home_button" class="foot_button" onclick="window.location.href='./'" style="background-color:#FFF;">Home</button>
    <button type="button" id="contacts_button" class="foot_button" onclick="window.location.href='./contact'" style="background-color:#FFF;">Contact</button>
    <p style="float: right; font-size: 12px;">Created by Janus Kiong, Ren Lingfei and Yeo Tunren</p>
  </div>
</nav>
