<!DOCTYPE html>
<html>
  <head>
    <style>
      body{background: linear-gradient(to right,  #9c9e9f 0%,#f6f6f6 100%); font-family: verdana; color: #191970; padding: 30px;}
      h1{font-size: 48px; text-align: center;}
      h2{font-size: 30px; text-align: center;}
      ul, p{font-size: 16px; text-align: center;}
      li{font-size: 16px; text-align: center; display: inline;}
      .foot_button{
        float: left;
        width: 20%;
        height: 30px;
      }
      #comments{
        float: right;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <h1>Contact Us</h1>
    <ul>Please contact the following for any query.</ul>
    <ul><a href="mailto:YKIONG001@e.ntu.edu.sg">Janus Kiong</a> for app related issues.</ul>
    <ul><a href="mailto:LREN002@e.ntu.edu.sg">Ren Ling Fei</a> for robot electronic issues.</ul>
    <ul><a href="mailto:YEOT0017@e.ntu.edu.sg">Yeo Tun Ren</a> for robot mechanical issues.</ul>
    <% include partials/nav.ejs %>
  </body>
</html>
